:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
    --spacing300: 2.4rem;
    --spacing150: 1.2rem;
    --spacing100: 0.8rem;
    --spacing50: 0.4rem; 
}
html {font-size: 10px;}
body {
    background-color: var(--yellow);
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing300);
}
.card {
    width: calc(38.4rem - var(--spacing300) * 2);  /* remove padding */
    max-width: calc(88vw - var(--spacing300) * 2);  /* to limit width on mobile */
    margin: 0 auto;
    padding: var(--spacing300);
    transform: translateY(calc(50vh - 55%)); /* half the page, minus half the card's height */
    -ms-transform: translateY(calc(50vh - 55%)); /* half the page, minus half the card's height */
    border-radius: 1.6rem;
    background-color: var(--white);
    outline: calc(var(--spacing50)/2) solid var(--gray-950);
    box-shadow: 
        min(var(--spacing150), 2vw) 
        min(var(--spacing150), 2vw) 
        var(--gray-950);
    letter-spacing: 0;
}
.card-image {
    width: 100%;
    height: 20rem;
    background-image: url(./assets/images/illustration-article.svg);
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing150);
}
@media screen and (any-hover: none) {
    .card-image {
        height: unset;
        aspect-ratio: 7/5;
    }
}
.card-content, .card-content > div {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing100) * 2);
}
.card-category {
    width: max-content;
    background-color: var(--yellow);
    padding: calc(var(--spacing50) * 1.5) var(--spacing150);
    border-radius: var(--spacing50);
}
.card-title:hover {
    color: var(--yellow);
    cursor: pointer;
}
.card p, .card h3 {
    margin: 0;
}
.card-author {
    display: flex;
    flex-direction: row;
    gap: var(--spacing150);
    align-items: center;
}
.card-author img {
    height: calc(var(--spacing150)*3);
    width: auto;
}
.text-preset-1 {
    font-size: min(2.4rem, 5.5vw);
    font-weight: 800;
}
.text-preset-2 {
    font-size: min(1.6rem, 3.8vw);
    font-weight: 500;
    line-height: 150%;
    color: var(--gray-500);
}
.text-preset-3 {
    font-size: min(1.4rem, 3.5vw);
    font-weight: 500;
}
.text-preset-3-bold {
    font-size: min(1.4rem, 4vw);
    font-weight: 800;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
}
.attribution a { color: #3e52a3; }
